.scroll-container {
  width: 300px;
  min-width: 300px;
  background-color: #000;
}

.star-wars {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: justify;
  letter-spacing: 3px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 150%;
  font-weight: 300;
  line-height: 150%;
  perspective: 400px;
  background-image: url('../../img/stars-background.png');
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 200s linear;
}

.crawl>.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 80%;
}

.crawl>.title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 200px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
