h1 {
  margin-left: 40%;
  color: #FBFFFE;
}

.main-container {
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  background-image: url('../../img/stars-background.png');
}

.title {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 99%;
}

.swapi{
  margin-left: 5%;
  padding:10%;
}
