.main-container {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
