.card {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.planet-card-data,
.people-card-data,
.vehicle-card-data {
  width: 200px;
  padding: 3px;
}

.people-card,
.vehicle-card,
.planet-card {
  background-color: #FFF;
}

.people-card {
  background-image: url('../../img/people-card-background.png');
}

.vehicle-card {
  background-image: url('../../img/vehicle-card-background.png');
}

.planet-card {
  background-image: url('../../img/planet-card-background.png');
}
